---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Button from "../components/Button.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to the Crook's Nook</h1>
			<div class="one" style="background-color: skyblue;">
				<p>
					This is a personal website and blog for Ridzie, a software engineer who enjoys art,
					science, and satire. She is not aware of what she is doing, but she hopes she eventually will.
				</p>
				<div class="line" style="--line-weight: 5px; --line-length: 100%; --line-color: black; --line-direction: horizontal;"></div>
				<p>
					Find her latest stuff below -
				</p>
			</div>
			<div class="grid-2col">
				<Button href="https://ridzie.github.io/squares/" title="Games" bgColor="#06CDFA" textColor="#000000" />
				<Button href="/blog" title="Blog" bgColor="#FFD500" textColor="#FF006E" />
			</div>
			<div class="grid-2col">
				<Button href="/shop" title="Shop" bgColor="red" textColor="yellow" />
				<Button href="/resume" title="Resume" bgColor="skyblue" textColor="var(--accent)" />
			</div>
			<div class="center">
				<Button href="/me" title="About me" bgColor="green" textColor="cyan" />
			</div>

		</main>
		<Footer />
	</body>
</html>
			<!--
			
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
			 -->