---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/Page1.astro';
---

<Layout
	title="Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<main>
	<div class="grid-2col">
	<div class="one" style="background-color: pink; padding:0; margin:0 auto;">
	<img src="src/assets/Psychosis-logo.png" alt="psychosis"  style="max-width:60%; height:auto; display:block; margin:0 auto; padding:0;" />
	</div>
		<p>
			i am Ridzie. I am *redacted* years old and live in *redacted*. I enjoy a little art, a little science, a little bullshit, participating in a lot of very poorly acted out over the top dramas, and satire. I’m very poor at comebacks. I think Animal Farm is a fun read that makes me smile at absurdity, and 1987 is still my favourite book. I have two cats called gremlin children, and watching the world burn with me in it is a regular pastime for me.
		</p>
	</div>
		<p>
			I’m a software engineer, and I work on a lot of different things. I’m currently working on a project that involves building a web application using Astro, which is a static site generator. I’m also working on a few other projects that involve building web applications using React and Vue.
		</p>
</main>


</Layout>
