---
import { Image } from "astro:assets";

const { post } = Astro.props;
---

<article class="blog-preview">
  <a href={`/blog/${post.id}/`}>
    {post.data.heroImage && (
      <Image width={720} height={360} src={post.data.heroImage} alt="" />
    )}
    <h2>{post.data.title}</h2>
    <p><time>{post.data.pubDate.toDateString()}</time></p>
  </a>
</article>

<style>
    .blog-preview a {
  text-decoration: none;   /* remove underline */
  color: inherit;          /* inherit text color */
}

.blog-preview h2 {
  font-size: 1.25rem;      /* adjust size */
  font-weight: 600;        /* medium bold */
  margin: 0.5rem 0;
}

.blog-preview time,
.blog-preview p {
  font-size: 0.9rem;       /* smaller */
  color: rgb(var(--gray)); /* use your gray variable */
  margin: 0;
}
.blog-preview img {
  --color: black;
  --border: 2px;
  --offset: 10px;
  --gap: 5px;
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
  --_o: calc(3*var(--offset));
  padding:
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background:
    linear-gradient(      var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(.4);
  transition: .5s;
  cursor: pointer;
}
.blog-preview img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

.blog-preview {
  text-align: center;
}
.blog-preview h2 {
  margin: 0.5rem 0 0;
}
.blog-preview time {
  font-size: 0.9rem;
  color: #444;
}
</style>