---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background: #ff006e;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border: 3px solid #000;
        box-shadow: 4px 4px 0 #000;
        transition: all 0.2s ease;
      }

      .btn:hover {
        background: #fff;
        color: #ff006e;
        border: 3px solid #ff006e;
        box-shadow: none;
      }
    </style>
  </head>

  <body>
	<Header />
    <div class="one" style="background-color: skyblue; width: 80%;padding: 2rem; margin: 2rem auto;" >
          
          <h3>{title}</h3>
          <!-- <p>{description}</p>-->

          <slot />
    </div>
        
	<Footer />
  </body>
</html>
